.nav{
  background-color: rgb(89, 126, 228);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
body{
  background-color: rgb(27, 27, 27);
  margin: 0;
  color: white;
}
*{
  box-sizing: border-box;
}
.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav li{
  border-radius: 5px;
}
.nav li.active{
  background-color: #d7cce4;
}
.nav li:hover{
  background-color: #a1c1eb;
}
.site-title{
  font-size: 2rem;
}
h1{
  text-align: center;
}
.left{
  float: left;
}
img{
  border-radius: 5px;
}